<!-- Login -->
<div class="login__block active" id="l-login" style="text-align: left;"p>
    <div class="login__block__header">
        <i class="zmdi zmdi-account-circle"></i>
        Hi there! Please Sign in

        <div class="actions actions--inverse login__block__actions">
            <div class="dropdown">
                <i data-toggle="dropdown" class="zmdi zmdi-more-vert actions__item"></i>

                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" routerLink="/signup">Create an account</a>
                    <a class="dropdown-item" routerLink="/login">Forgot password?</a>
                </div>
            </div>
        </div>
    </div>

    <div class="login__block__body">
    	<form #loginForm="ngForm" (ngSubmit)="onSubmit(email.value, password.value)">
        <div class="form-group">
          <label>Email</label>
            <input type="text" class="form-control validate" placeholder="" #email="ngModel" ngModel name="email" required>
            <span *ngIf="email.invalid && (email.dirty || email.touched)" class="text-alert alert-error">Email is required!</span>
        </div>

        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control validate" placeholder="" #password="ngModel" ngModel name="password" required>
          <span *ngIf="password.invalid && (password.dirty || password.touched)" class="text-alert alert-error">Password is required!</span>
        </div>
        <!-- <a href="javascript:;" class="btn btn--icon login__block__btn"><i class="zmdi zmdi-long-arrow-right"></i></a> -->
      </form>
      <button type="button" [disabled]="!loginForm.valid" class="btn btn-light btn-block login-button" (click)="onSubmit(email.value, password.value)">Sign in</button>
        
    </div>
</div>