<!-- Register -->
<div class="login__block" id="l-register" style="text-align: left;">
    <div class="login__block__header">
        <i class="zmdi zmdi-account-circle"></i>
        Create an account

        <div class="actions actions--inverse login__block__actions">
            <div class="dropdown">
                <i data-toggle="dropdown" class="zmdi zmdi-more-vert actions__item"></i>

                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" routerLink="/login">Already have an account?</a>
                    <a class="dropdown-item" data-sa-action="login-switch" data-sa-target="#l-forget-password" href="#">Forgot password?</a>
                </div>
            </div>
        </div>
    </div>

    <div class="login__block__body">
    	<form #userRegistrationForm="ngForm" (ngSubmit)="onSubmit">
        <div class="form-group">
          <label>First name</label>
          <input type="text" class="form-control validate" name="firstName" #firstName="ngModel" [(ngModel)]="user.firstName" placeholder="" required>
          <i *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="form-group__bar"></i>
          <span *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="text-alert alert-error">First name is required!</span>
        </div>
        <div class="form-group form-group--centered">
          <label>Email</label>
          <input type="text" class="form-control validate" name="email" #email="ngModel" [(ngModel)]="user.email" placeholder="" required>
          <i *ngIf="email.invalid && (email.dirty || email.touched)" class="form-group__bar"></i>
          <span *ngIf="email.invalid && (email.dirty || email.touched)" class="text-alert alert-error">Email is required!</span>
        </div>

        <div class="form-group form-group--centered">
          <label>Password</label>
          <input type="password" class="form-control validate" name="password" #password="ngModel" [(ngModel)]="user.password" placeholder="" required>
          <i *ngIf="password.invalid && (password.dirty || password.touched)" class="form-group__bar"></i>
          <span *ngIf="password.invalid && (password.dirty || password.touched)" class="text-alert alert-error">Password is required!</span>
        </div>

        <div class="form-group">
            <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Accept the license agreement</span>
            </label>
        </div>
      </form>
        <button type="button" [disabled]="!userRegistrationForm.valid" class="btn btn-light btn-block" (click)="onSubmit($event)">Signup</button>
        <!-- <a href="javascript:;" class="btn btn--icon login__block__btn" (click)="onSubmit($event)"><i class="zmdi zmdi-plus"></i></a> -->
    </div>
</div>